[submodule "deps/abseil-lts20230125.1"]
	path = deps/abseil-lts20230125.1
	url = https://github.com/abseil/abseil-cpp.git
	branch = lts_2023_01_25
[submodule "deps/nvcore"]
	path = deps/nvcore
	url = https://github.com/lwdjohari/nvcore.git
[submodule "deps/rapidyaml"]
	path = deps/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
